.calendar {
    display: grid;
    padding: 20px;
    grid-template-columns: 10vw 85vw;
    overflow: visible;
}

.days {
    position: relative; /* Added to ensure absolute children are relative to this */
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 22px repeat(181, 8px);
    padding-right: 20px;
}

.day {
    display: grid;
    grid-template-rows: 22px repeat(181, 8px);
}

.events {
    display: grid;
    grid-template-rows: repeat(181, 8px);
}


.time-marker {
    display: flex;
    justify-content: center;
    text-align: right;
    height: 8px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background: #84DDFE;
}


.timeSlot {
    position: relative;
    height: 8px;
    border-bottom: 1px dashed gray;
    border-right: 3px solid black;
}



.time-markerLabel, .dayLabel {
    position: sticky;
    top: 0;
    z-index: 1001;
    text-align: center;
    background: #84CDFE;
    height: 30px;
    border-bottom: 1px solid black;
    border-right: 3px solid black;
    border-top: 1px solid black;
}

.days {
    position: relative; /* Added to ensure absolute children are relative to this */
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 32px repeat(181, 8px);
    padding-right: 20px;
}

.day {
    display: grid;
    grid-template-rows: 32px repeat(181, 8px);
}




.time-markerLabel{
    border-left: 3px solid black;
}

.event {
    grid-row: span 2;
    background: red;
    border-right: 1px solid black;
    border-radius: 15px;
    padding-top: 10px;
    margin-bottom: .4px;
}


